In [1]:
import requests
from census import Census
from us import states
import json
import pandas as pd

#import API keys
from config import api_key

In [2]:
# Obtaining data
c = Census(api_key)
census_data = c.acs5.get(('NAME', 'B01003_001E', 'B02001_002E', 'B02001_003E', 'B02001_004E', 'B02001_005E',  
                          'B02001_006E', 'B03002_012E', 'B02001_007E', 'B02001_008E', 'B17001_002E',  
                          'B19013_001E', 'B19301_001E', 'B23025_004E', 'B23025_005E', 'B23025_006E'),  
                          geo={'for': 'county:*', 'in': 'state:{}'.format(states.CA.fips)})

census_data[0]

{'NAME': 'Lake County, California',
 'B01003_001E': 64148.0,
 'B02001_002E': 49463.0,
 'B02001_003E': 1562.0,
 'B02001_004E': 2426.0,
 'B02001_005E': 661.0,
 'B02001_006E': 30.0,
 'B03002_012E': 12830.0,
 'B02001_007E': 8048.0,
 'B02001_008E': 1958.0,
 'B17001_002E': 13224.0,
 'B19013_001E': 42475.0,
 'B19301_001E': 25404.0,
 'B23025_004E': 23589.0,
 'B23025_005E': 2556.0,
 'B23025_006E': 15.0,
 'state': '06',
 'county': '033'}

In [3]:
# Converting to DataFrame
census_df = pd.DataFrame(census_data)

census_df.rename(columns={'NAME': 'County',
                          'B01003_001E': 'Population', 
                          'B02001_002E': 'White', 
                          'B02001_003E': 'African_american', 
                          'B02001_004E': 'American_indian_alaskan_native', 
                          'B02001_005E': 'Asian', 
                          'B02001_006E': 'Pacific_islander', 
                          'B03002_012E': 'Hispanic_latino', 
                          'B02001_007E': 'Other_race', 
                          'B02001_008E': 'Multiple_races', 
                          'B17001_002E': 'Poverty_count', 
                          'B19013_001E': 'Income_median', 
                          'B19301_001E': 'Income_per_capita', 
                          'B23025_004E': 'Employed', 
                          'B23025_005E': 'Unemployed', 
                          'B23025_006E': 'Armed_forces_active'
                         }, inplace=True)

# Drop unneeded columns
census_df.drop(columns=['state', 'county'], inplace=True)

# Remove 'County, California' from County column
census_df.County = census_df.County.map(lambda x: x[ :-19])

# Set index to County
census_df.set_index('County', inplace=True)

census_df.head()

,Population,White,African_american,American_indian_alaskan_native,Asian,Pacific_islander,Hispanic_latino,Other_race,Multiple_races,Poverty_count,Income_median,Income_per_capita,Employed,Unemployed,Armed_forces_active
County,,,,,,,,,,,,,,,
Lake,64148.0,49463.0,1562.0,2426.0,661.0,30.0,12830.0,8048.0,1958.0,13224.0,42475.0,25404.0,23589.0,2556.0,15.0
Merced,269075.0,154376.0,8772.0,1988.0,20131.0,623.0,158494.0,72152.0,11033.0,59660.0,50129.0,21634.0,102638.0,14912.0,54.0
Mariposa,17540.0,15579.0,166.0,397.0,243.0,54.0,1909.0,396.0,705.0,2435.0,51199.0,29776.0,7051.0,676.0,8.0
Modoc,8938.0,8046.0,149.0,298.0,140.0,6.0,1292.0,52.0,247.0,1435.0,45149.0,23235.0,3125.0,274.0,0.0
Contra Costa,1133247.0,648325.0,97333.0,5529.0,185065.0,5585.0,288101.0,112976.0,78434.0,102543.0,93712.0,45524.0,547323.0,35563.0,725.0

In [4]:
# Create additional columns to calculate the population percentages

census_df['%_White'] = round((census_df.White / census_df.Population) * 100, 2)
census_df['%_African_american'] = round((census_df.African_american / census_df.Population) * 100, 2)
census_df['%_American_indian_alaskan_native'] = round((census_df.American_indian_alaskan_native / census_df.Population) * 100, 2)
census_df['%_Asian'] = round((census_df.Asian / census_df.Population) * 100, 2)
census_df['%_Pacific_islander'] = round((census_df.Pacific_islander / census_df.Population) * 100, 2)
census_df['%_Hispanic_latino'] = round((census_df.Hispanic_latino / census_df.Population) * 100, 2)
census_df['%_Other_race'] = round((census_df.Other_race / census_df.Population) * 100, 2)
census_df['%_Multiple_races'] = round((census_df.Multiple_races / census_df.Population) * 100, 2)
census_df['%_Poverty'] = round((census_df.Poverty_count / census_df.Population) * 100, 2)
census_df['%_Employed'] = round((census_df.Employed / census_df.Population) * 100, 2)
census_df['%_Unemployed'] = round((census_df.Unemployed / census_df.Population) * 100, 2)
census_df['%_Armed_forces_active'] = round((census_df.Armed_forces_active / census_df.Population) * 100, 2)

census_df.head()

,Population,White,African_american,American_indian_alaskan_native,Asian,Pacific_islander,Hispanic_latino,Other_race,Multiple_races,Poverty_count,...,%_American_indian_alaskan_native,%_Asian,%_Pacific_islander,%_Hispanic_latino,%_Other_race,%_Multiple_races,%_Poverty,%_Employed,%_Unemployed,%_Armed_forces_active
County,,,,,,,,,,,,,,,,,,,,,
Lake,64148.0,49463.0,1562.0,2426.0,661.0,30.0,12830.0,8048.0,1958.0,13224.0,...,3.78,1.03,0.05,20.00,12.55,3.05,20.61,36.77,3.98,0.02
Merced,269075.0,154376.0,8772.0,1988.0,20131.0,623.0,158494.0,72152.0,11033.0,59660.0,...,0.74,7.48,0.23,58.90,26.81,4.10,22.17,38.14,5.54,0.02
Mariposa,17540.0,15579.0,166.0,397.0,243.0,54.0,1909.0,396.0,705.0,2435.0,...,2.26,1.39,0.31,10.88,2.26,4.02,13.88,40.20,3.85,0.05
Modoc,8938.0,8046.0,149.0,298.0,140.0,6.0,1292.0,52.0,247.0,1435.0,...,3.33,1.57,0.07,14.46,0.58,2.76,16.06,34.96,3.07,0.00
Contra Costa,1133247.0,648325.0,97333.0,5529.0,185065.0,5585.0,288101.0,112976.0,78434.0,102543.0,...,0.49,16.33,0.49,25.42,9.97,6.92,9.05,48.30,3.14,0.06

In [5]:
# Reorganize columns
census_df = census_df[['Population', 'Income_median', 'Income_per_capita', '%_Poverty', '%_Employed', '%_Unemployed', 
                       '%_Armed_forces_active', '%_African_american', '%_American_indian_alaskan_native', '%_Asian', 
                      '%_Hispanic_latino', '%_Pacific_islander', '%_White', '%_Other_race', '%_Multiple_races', 
                      'Poverty_count', 'Employed', 'Unemployed', 'Armed_forces_active', 'African_american', 
                      'American_indian_alaskan_native', 'Asian', 'Hispanic_latino', 'Pacific_islander', 
                      'White', 'Other_race', 'Multiple_races']]
census_df.head()

,Population,Income_median,Income_per_capita,%_Poverty,%_Employed,%_Unemployed,%_Armed_forces_active,%_African_american,%_American_indian_alaskan_native,%_Asian,...,Unemployed,Armed_forces_active,African_american,American_indian_alaskan_native,Asian,Hispanic_latino,Pacific_islander,White,Other_race,Multiple_races
County,,,,,,,,,,,,,,,,,,,,,
Lake,64148.0,42475.0,25404.0,20.61,36.77,3.98,0.02,2.43,3.78,1.03,...,2556.0,15.0,1562.0,2426.0,661.0,12830.0,30.0,49463.0,8048.0,1958.0
Merced,269075.0,50129.0,21634.0,22.17,38.14,5.54,0.02,3.26,0.74,7.48,...,14912.0,54.0,8772.0,1988.0,20131.0,158494.0,623.0,154376.0,72152.0,11033.0
Mariposa,17540.0,51199.0,29776.0,13.88,40.20,3.85,0.05,0.95,2.26,1.39,...,676.0,8.0,166.0,397.0,243.0,1909.0,54.0,15579.0,396.0,705.0
Modoc,8938.0,45149.0,23235.0,16.06,34.96,3.07,0.00,1.67,3.33,1.57,...,274.0,0.0,149.0,298.0,140.0,1292.0,6.0,8046.0,52.0,247.0
Contra Costa,1133247.0,93712.0,45524.0,9.05,48.30,3.14,0.06,8.59,0.49,16.33,...,35563.0,725.0,97333.0,5529.0,185065.0,288101.0,5585.0,648325.0,112976.0,78434.0

In [6]:
# Convert to CSV

census_df.to_csv('static/data/census_data.csv')

In [7]:
# Load dependencies to load DataFrame into Postgres
from sqlalchemy import create_engine

from config import user, password

In [8]:
# Connect to local database
conn_string = f'postgresql://{user}:{password}@localhost:5432/california_crime_db'

engine = create_engine(conn_string)

In [9]:
# Load DF to into DB
census_df.to_sql(name='county_demographics', con=engine, if_exists='replace')

In [10]:
# Confirm data has been loaded
pd.read_sql_query('SELECT * FROM county_demographics', con=engine).head()

,County,Population,Income_median,Income_per_capita,%_Poverty,%_Employed,%_Unemployed,%_Armed_forces_active,%_African_american,%_American_indian_alaskan_native,...,Unemployed,Armed_forces_active,African_american,American_indian_alaskan_native,Asian,Hispanic_latino,Pacific_islander,White,Other_race,Multiple_races
0,Lake,64148.0,42475.0,25404.0,20.61,36.77,3.98,0.02,2.43,3.78,...,2556.0,15.0,1562.0,2426.0,661.0,12830.0,30.0,49463.0,8048.0,1958.0
1,Merced,269075.0,50129.0,21634.0,22.17,38.14,5.54,0.02,3.26,0.74,...,14912.0,54.0,8772.0,1988.0,20131.0,158494.0,623.0,154376.0,72152.0,11033.0
2,Mariposa,17540.0,51199.0,29776.0,13.88,40.20,3.85,0.05,0.95,2.26,...,676.0,8.0,166.0,397.0,243.0,1909.0,54.0,15579.0,396.0,705.0
3,Modoc,8938.0,45149.0,23235.0,16.06,34.96,3.07,0.00,1.67,3.33,...,274.0,0.0,149.0,298.0,140.0,1292.0,6.0,8046.0,52.0,247.0
4,Contra Costa,1133247.0,93712.0,45524.0,9.05,48.30,3.14,0.06,8.59,0.49,...,35563.0,725.0,97333.0,5529.0,185065.0,288101.0,5585.0,648325.0,112976.0,78434.0